.credentials-form-wrap {
  position: relative;
  padding-bottom: 33px;
  .ui.button {
    margin-left: 83%;
    bottom: -48px;
  }
}

.sgn-btn.ui.button {
  background-color: rgba(54, 53, 53, 0.685);
  color: rgb(255, 255, 255);
  &:hover {
    background-color: rgba(68, 67, 67, 0.623);
  }
  &.loading {
    position: absolute !important;
    // cursor: not-allowed !important;
    pointer-events: none !important;
  }
}

.btn-right,
.btn-left {
  position: absolute;
  bottom: 15px;
}

.btn-right {
  right: 15px;
}

.btn-left {
  left: 15px;
}
