.sort-tab {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  .icon {
    border: 1px solid rgba(56, 55, 55, 0.212);
    border-radius: 5px;
    padding: 7px 9px;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
    &.active {
      background-color: rgba(58, 57, 57, 0.11);
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      background-color: rgba(58, 57, 57, 0.11);
    }
  }
}
