.confirm-form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  border-radius: 5px;
  background-color: rgba(187, 171, 171, 0.274);
  color: rgba(56, 55, 55, 0.267) !important;
  position: relative;
  .segment {
    max-width: 350px !important;
  }
  // width: 100% !important;
  flex-direction: column;
  input {
  }
  // max-width: 250px;
}
